:local(.component) {
  .header{
    text-align: center;
  }
  .content {
    background-color: #fff;
    min-height: 88vh;
  }
  .footer {
    text-align: center;
  }
  h1 {
    color: #eee;
    font-weight: 300;
  }
  img {
    width: 25px;
    height: 25px;
    margin: 0 10px 5px;
  }
}